<!-- <app-navbar *ngIf="showNavbar"></app-navbar>

<nav class="navbar navbar-expand-lg navbar-light shadow-sm" *ngIf="showDefaultNavbar">
    <div class="container navbar-content"> -->
        <!-- company name  -->
        <!-- <div>
            <a class="navbar-brand fw-bold text-primary" href="#">
                Travel<span class="plane">✈</span>rove
            </a>
        </div> -->
        <!-- wishlist & SignIn/signup  -->
<!-- 
        <div class="navbar-nav">
            <a class="nav-link"><i class="fas fa-heart "></i> SignIn/SignUp </a>
            <a class="nav-link" routerLink="/wishlist"><i class="fas fa-user "></i> Wishlist </a>
        </div>
    </div>
</nav> -->
<!-- </nav> -->
 <app-navbar ></app-navbar>

<!-- <app-trip-itenrary></app-trip-itenrary> -->
<router-outlet></router-outlet>
<!-- <app-home></app-home> -->
<!-- <app-group></app-group> -->
<!-- <app-join-group></app-join-group> -->
 <!-- <app-login></app-login> -->
  <!-- <app-admin></app-admin> -->

<!-- <app-itineraries-list></app-itineraries-list> -->


<!-- <footer class="footer">
    <p>&copy; 2025 TravelTrove</p>
</footer> -->